@primaryColor: #00a1d6;
@errorColor: #f66495;
@textColor: #212121;

@font-face {
  font-family: 'iconfont'; /* project id 2073318 */
  src: url('//at.alicdn.com/t/font_2073318_4zl502hkqf5.eot');
  src: url('//at.alicdn.com/t/font_2073318_4zl502hkqf5.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_2073318_4zl502hkqf5.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_2073318_4zl502hkqf5.woff') format('woff'),
    url('//at.alicdn.com/t/font_2073318_4zl502hkqf5.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_2073318_4zl502hkqf5.svg#iconfont') format('svg');
}

.flex {
  display: flex;
}
.page {
  width: 1190px;
  margin: 0 auto;
}
.middle-flex {
  display: flex;
  align-items: center;
}
.center-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.text {
  cursor: pointer;
  transition: 0.1s linear;
  &:hover {
    color: #00a1d6;
  }
}
.cover {
  background-position: center;
  background-size: cover;
}
.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-active {
  opacity: 0;
}
.page-content {
  width: 1190px;
  margin: 0 auto;
}
